* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
header {
  width: 100%;
  position: fixed;
  z-index: 3;
}
header .container {
  padding: 10px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: transparent;
}

header .container .logo_social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
header .container .logo {
  font-size: 3em;
  padding: 0;
  margin: 0;
  transform: translateY(-5px);
  cursor: pointer;
}
header .container .social i {
  border: 2px solid white;
  padding: 13px 13px;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
header .container .social i:hover {
  background-color: white;
  color: #777;
}
header .container nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  font-weight: bold;
}
header .container nav ul li {
  position: relative;
}
header .container nav ul li::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -7px;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: white;
  transition: 0.5s;
}
header .container nav ul li:hover::after {
  width: 100%;
}
/* start content */
.content {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease;
  z-index: -1;
}
.slide.active img {
  opacity: 1;
}
.slide .left_slide {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background: 0 0 0 rga(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  mask-clip: text, padding-box;
  -webkit-mask-clip: text, padding-box;
  -webkit-mask-composite: xor;
  mask-composite: xor;
  transform: translateX(-100%);
  transition: 0.5s;
}
.slide.active .left_slide {
  transform: translateX(0);
}
.slide .left_slide h1 {
  width: 100%;
  text-align: end;
  font-size: 15rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.slide .left_slide .info {
  padding: 3rem 2rem 1rem;
  position: absolute;
  bottom: 3rem;
}
.slide .left_slide .info h3 {
  font-size: 30px;
}
.slide .left_slide .info p {
  line-height: 1.6;
  font-size: 18px;
}
.slide .left_slide .info .btn {
  outline: none;
  border: 2px solid white;
  padding: 15px 25px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: white;
  font-weight: bolder;
  font-size: 16px;
  transition: 0.5s;
  cursor: pointer;
}
.slide .left_slide .info .btn:hover {
  background-color: transparent;
  color: white;
}
.slide .left_slide .info .btn:focus {
  background-color: transparent;
  color: white;
}

/* right side */
.slide .right_slide {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transform: translateX(100%);
  transition: 0.5s;
}
.slide.active .right_slide {
  transform: translateX(0);
}
.slide .right_slide .info {
  position: absolute;
  left: 0;
}
.slide .right_slide .info h1 {
  font-size: 15rem;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #ddd, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0px 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 6px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.slide .right_slide .info h2 {
  position: absolute;
  font-size: 40px;
  transform: translate(50px, -60px);
}
.slide .right_slide .next_prev {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}
.slide .right_slide .next_prev #next,
.slide .right_slide .next_prev #prev {
  padding: 14px 17px;
  background-color: white;
  color: #777;
  border-radius: 18px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.5s;
  margin-right: 5px;
  position: relative;
}
.slide .right_slide .next_prev #next:hover,
.slide .right_slide .next_prev #prev:hover {
  transform: scale(1.1);
}
.slide .right_slide .next_prev #next:focus,
.slide .right_slide .next_prev #prev:focus {
  transform: scale(1.1);
}
